.background-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(pink, orange);
}

.register-form-container {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}
.heading-1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
.form-inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.checkbox {
  height: 16px;
  width: 16px;
  margin: 10px;
}
.input-box {
  width: 100%;
  background: none;
  border: 1px solid saddlebrown;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  padding: 10px;
  font-weight: 600;
}
.submit-button {
  padding: 10px;
  width: 50%;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin-top: 10px;
}
.submit-button:hover {
  color: black;
  background-color: white;
}

.login-container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 80%;
}
.image-container {
  height: 100%;
}
.image-main {
  border-radius: 20px;
  height: 100%;
  box-shadow: 0px 2px 8px;
}
.login-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  text-align: center;
  padding: 10px;
}
.heading {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.login-form {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-msg {
  color: red;
  font-size: 12px;
}
.dashboard-main {
  background-image: radial-gradient(rgb(109, 109, 218), rgb(151, 34, 151));
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.teams-container {
  justify-items: center;
}
.dashboard-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100px;
  border-radius: 30px;
  background-color: rgb(15, 130, 134);
  padding: 30px;
  color: white;
  margin-bottom: 20px;
  outline: none;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.stats-card {
  justify-items: center;
  align-content: space-around;
  padding: 20px;
  width: 200px;
  border: 1px solid;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(7, 169, 169);
  color: aliceblue;
  margin: 20px;
}
.sub-heading {
  font-weight: bold;
  font-size: 22px;
}
.employee-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin-top: 20px;
  overflow: auto;
}
.employee-list-main {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.employeeDesc {
  width: 100%;

  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.employee-teams-list {
  width: 100%;
  height: 500px;
  background-color: beige;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.teams-list {
  list-style-type: none;
  height: 100%;
  background-color: yellow;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  overflow: auto;
}
.assign-button-container {
  background-color: red;
  width: 80%;
  height: 50px;
}
.button-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.control-button {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
}
.close-button {
  background-color: red;
}
.team-detail-item {
  width: 100%;
  background-color: aquamarine;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 100px;
}
.team-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgb(221, 162, 162);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}
.employee-form-inputs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.input-box {
  width: 100%;
}
.employee-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 12px;
  background-color: rgb(35, 18, 105);
  color: white;

  border-radius: 20px;
  padding: 10px;
  height: 200px;
  width: 100%;
  box-shadow: 0px 0px 8px rgb(131, 131, 131);
}
.link {
  outline: none;
  text-decoration: none;
  width: 30%;
  margin-right: 5px;
  margin-bottom: 5px;
}
.employees-list-container {
  height: 100%;
  overflow-y: scroll;
}
.employees-add-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}
.selected-button {
  padding: 10px;
  width: 50%;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(1, 182, 25);
  margin-top: 10px;
}
